<div>
    <div class="search__r">
        <div class="search__c3">
            <input type="hidden" name="SearchBoxSection" value="home" />
            <label for="search-option" id="search-option-label" style="display: none">Refine your search</label>
            <div id="search-option___combobox" data-selectlist="search-option" role="combobox" aria-expanded="true" aria-autocomplete="list" aria-owns="search-option___listbox" tabindex="3" aria-labelledby="search-option-label" class=" select-standard selectListUIMenu " aria-activedescendant="search-option___option0" aria-disabled="false" style="display: inline-block; float: none; width: 88px; margin: 0px 5px 0px 0px;" data-ng-click="searchInputController.toggleDropdown()" data-ng-bind="searchInputController.currentRecordType === '' ? 'in All Shops' : 'in All ' + searchInputController.currentRecordType + 's'"></div>
            <ul data-ng-class="{'open': searchInputController.dropdownIsOpen}" id="search-option___listbox" role="listbox" class="select-standard selectListUIMenu ac-input-dropdown" style=" top: 35px; left: -6px; min-width: 119px;">
                <li id="search-option___option0" data-selectlist="search-option" role="option" data-value="home" class="select-standard" data-ng-class="{'selected': !searchInputController.currentRecordType}" data-ng-click="searchInputController.updateRecordType('')">in All Shops</li>
                <li id="search-option___option0" data-selectlist="search-option" role="option" data-value="home" class="select-standard" data-ng-repeat="recordType in searchInputController.recordTypes track by $index" data-ng-class="{'selected': searchInputController.currentRecordType === recordType}" data-ng-click="searchInputController.updateRecordType(recordType)">in All {{::recordType}}s</li>
            </ul>
        </div>
        <div class="search__c2">
            <label for="search-input" id="search-input-label" class="a11y__element">Enter search keywords here</label>
            <input type="text" class="search__input" name="SearchBoxKeywords" autocomplete="off" tabindex="3" id="search-input" aria-labelledby="search-input-label" placeholder="search over 7 million products…" data-ng-keyup="$event.keyCode == 13 && searchInputController.enterInput(searchInputController.query)" autocomplete="off" data-ng-model="searchInputController.query" data-ng-change="searchInputController.searchStore.searchQuery()" /> </div>
        <div class="search__c4">
            <label for="search-submit" id="search-submit-label" style="display: none">search</label>
            <button class="search__go" type="submit" id="search-submit" tabindex="3" aria-labelledby="search-submit-label">search</button>
        </div>
    </div>
    <div class="ac-results-container ng-cloak" data-ng-class="{'two-col': (searchInputController.currentRecordType != '' || searchInputController.bookResults.hits.length === 0), 'two-col-books': (searchInputController.currentRecordType === 'Book' || searchInputController.productResults.hits.length === 0), 'empty': ((searchInputController.currentRecordType === 'Book' && searchInputController.bookResults.hits.length === 0) || ((searchInputController.currentRecordType === 'Gift' || searchInputController.currentRecordType === 'Toy') && searchInputController.productResults.hits.length === 0))}" data-ng-if="(searchInputController.searchStore.displayResults && searchInputController.query) && (searchInputController.bookResults.hits.length > 0 || searchInputController.productResults.hits.length > 0)">
        <div class="ac-results-col">
            <div>
                <h2 class="standard_title">Books</h2>
                <div class="ac-results-prods">
                    <div class="ac-results-prod-container" data-ng-repeat="result in searchInputController.bookResults.hits">
                        <a class="ac-results-prod-wrapper" data-ng-href="{{searchInputController.renderPDPLink(result.PID, result.RecordType, result.title)}}">
                            <div class="ac-results-prod-img-container">
                                <img class="ac-results-prod-img" data-ng-src="https://dynamic.indigoimages.ca/books/{{result.PID}}.jpg">
                            </div>
                            <div class="ac-results-prod-info">
                                <p class="ac-results-prod-title" data-ng-bind-html="searchInputController.renderHtml(result._highlightResult.title.value)"></p>
                                <p class="ac-results-prod-author" data-ng-bind-html="searchInputController.renderAuthor(result._highlightResult.Contributors.value)"></p>
                                <p class="ac-results-prod-subtitle" data-ng-if="result.subtitle" data-ng-bind-html="searchInputController.renderHtml(result._highlightResult.subtitle.value)"></p>
                                <p class="ac-results-prod-price">Price {{result.AdjustedPrice | currency}}</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <a class="ac-results-cta">
                <span>View More Books</span> <span class="ac-results-cta-num">({{searchInputController.bookResults.nbHits}})</span>
            </a>
        </div>
        <div class="ac-results-col">
            <div>
                <h2 class="standard_title">Products</h2>
                <div class="ac-results-prods">
                    <div class="ac-results-prod-container" data-ng-repeat="result in searchInputController.productResults.hits">
                        <a class="ac-results-prod-wrapper" data-ng-href="{{searchInputController.renderPDPLink(result.PID, result.RecordType, result.Name_en, result.ToyName)}}">
                            <div class="ac-results-prod-img-container">
                                <img class="ac-results-prod-img" data-ng-if="result.RecordType === 'Gift' || result.RecordType === 'Toy'" data-ng-src="https://dynamic.indigoimages.ca/{{result.RecordType}}s/{{result.PID}}0.jpg">
                            </div>
                            <div class="ac-results-prod-info">
                                <p class="ac-results-prod-title" data-ng-if="result.Name_en" data-ng-bind-html="searchInputController.renderHtml(result._highlightResult.Name_en.value)"></p>
                                <p class="ac-results-prod-title" data-ng-if="result.ToyName" data-ng-bind-html="searchInputController.renderHtml(result._highlightResult.ToyName.value)"></p>
                                <p class="ac-results-prod-author" data-ng-if="result._highlightResult.BrandName.value" data-ng-bind-html="searchInputController.renderHtml(result._highlightResult.BrandName.value)"></p>
                                <p class="ac-results-prod-author" data-ng-if="result._highlightResult.BrandName_en.value" data-ng-bind-html="searchInputController.renderHtml(result._highlightResult.BrandName_en.value)"></p>
                                <p class="ac-results-prod-subtitle" data-ng-if="result.AudienceDescription">{{result.AudienceDescription}}</p>
                                <p class="ac-results-prod-subtitle" data-ng-if="result.Style_en">{{result.Style_en}}</p>
                                <p class="ac-results-prod-price">Price {{result.AdjustedPrice | currency}}</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <a class="ac-results-cta">
                <span>View More Products</span> <span class="ac-results-cta-num">({{searchInputController.productResults.nbHits}})</span>
            </a>
        </div>
        <div class="ac-results-col" data-ng-class="{'empty': searchInputController.brandResults.hits.length === 0 && searchInputController.authorResults.hits.length === 0 && searchInputController.categoryResults.hits.length === 0}">
            <div class="ac-results-data" data-ng-if="searchInputController.currentRecordType != 'Book' && searchInputController.brandResults.hits.length > 0">
                <h2 class="standard_title">Brands</h2>
                <div data-ng-repeat="result in searchInputController._uniqueHits(searchInputController.brandResults.hits)" class="ac-results-data-item">
                    <a data-ng-bind-html="searchInputController.renderHtml(result._highlightResult.name.value)"></a>
                </div>
            </div>
            <div class="ac-results-data" data-ng-if="(searchInputController.currentRecordType === 'Book' || searchInputController.currentRecordType === '') && searchInputController.authorResults.hits.length > 0">
                <h2 class="standard_title">Authors</h2>
                <div data-ng-repeat="result in searchInputController.authorResults.hits" class="ac-results-data-item">
                    <a data-ng-bind-html="searchInputController.renderAuthor(result._highlightResult.name.value)"></a>
                </div>
            </div>
            <div class="ac-results-data" data-ng-if="searchInputController.categoryResults.hits.length > 0">
                <h2 class="standard_title">Categories</h2>
                <div data-ng-repeat="result in searchInputController.categoryResults.hits" class="ac-results-data-item">
                    <p>
                        <a class="ac-results-data-item-category ac-results-data-item-em" data-ng-bind-html="searchInputController.renderHtml(result._highlightResult.hierarchicalCategories.lvl0.value)"></a>
                        <a class="ac-results-data-item-category" data-ng-if="result.hierarchicalCategories.lvl1" data-ng-bind-html="searchInputController.renderHtml(result._highlightResult.hierarchicalCategories.lvl1.value)"></a>
                        <a class="ac-results-data-item-category" data-ng-if="result.hierarchicalCategories.lvl2" data-ng-bind-html="searchInputController.renderHtml(result._highlightResult.hierarchicalCategories.lvl2.value)"></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>