.header_search div[role=combobox].select-standard {
  background: url(https://static.indigoimages.ca/VersionedAssets/3.28.4/Assets/Shared/Images/down_arrow.png) no-repeat 99px center !important; }

.logo-link {
  background: url(https://static.indigoimages.ca/VersionedAssets/3.28.4/Assets/Shared/Images/indigo_logo_106x55.png) no-repeat; }

.cart__icon {
  background: url(https://static.indigoimages.ca/VersionedAssets/3.28.4/Assets/Shared/Images/shopping_cart.png) no-repeat; }

.browsecartTab-title,
.browsecartTab-buttonWrapper {
  background: url(https://static.indigoimages.ca/VersionedAssets/3.28.4/Assets/Shared/Images/sprites02.png) no-repeat -170px -175px; }

.browsecartTab:before {
  background: url(https://static.indigoimages.ca/VersionedAssets/3.28.4/Assets/Shared/Images/sprites02.png) no-repeat -310px -5px; }

.browsecartTab:after {
  background: url(https://static.indigoimages.ca/VersionedAssets/3.28.4/Assets/Shared/Images/sprites02.png) no-repeat -441px -58px; }

.search__t {
  min-height: 35px; }

.ng-cloak {
  opacity: 1;
  display: block; }

.autoResultList {
  display: none !important; }

@font-face {
  font-family: 'Gibson Light';
  font-style: normal;
  font-weight: 400;
  src: local("Gibson Light"), url(http://static.indigoimages.ca/Fonts/Gibson/Gibson-Light-webfont.woff) format("woff"); }

@font-face {
  font-family: 'Gibson Bold';
  font-style: normal;
  font-weight: 400;
  src: local("Gibson Bold"), url(../static.indigoimages.ca/gibson-semibold-webfont.woff) format("woff"); }

@font-face {
  font-family: 'Miller Display Italic';
  font-style: normal;
  font-weight: 400;
  src: local("Gibson Bold"), url(../static.indigoimages.ca/a15feab0-4555-4e27-9624-31073583528e-3.woff) format("woff"); }

.search__t {
  overflow: visible !important;
  margin-left: -12px !important; }

.search__go {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer; }

.search__c3:before {
  height: 42px; }

.ac-input-dropdown {
  opacity: 0;
  visibility: hidden; }
  .ac-input-dropdown.open {
    opacity: 1;
    visibility: visible;
    -webkit-transition: .15s;
    transition: .15s; }

.ac-results-container.two-col .ac-results-prods, .ac-results-container.two-col-books .ac-results-prods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  margin-top: -10px; }

.ac-results-container.two-col .ac-results-prod-container, .ac-results-container.two-col-books .ac-results-prod-container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: calc(50% - 20px);
      flex-basis: calc(50% - 20px);
  margin: 0; }
  .ac-results-container.two-col .ac-results-prod-container:nth-child(odd), .ac-results-container.two-col-books .ac-results-prod-container:nth-child(odd) {
    margin-left: -10px; }
  .ac-results-container.two-col .ac-results-prod-container:nth-child(even), .ac-results-container.two-col-books .ac-results-prod-container:nth-child(even) {
    margin-right: -10px; }

.ac-results-container.is-focused {
  opacity: 1;
  visibility: visible; }

.ac-results-container {
  -webkit-transition: .1s ease;
  transition: .1s ease;
  position: absolute;
  left: -521px;
  background-color: #fff;
  border: 1px solid #999;
  width: 940px;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  box-sizing: border-box;
  opacity: 0;
  visibility: hidden; }
  .ac-results-container.two-col:not(.two-col-books) .ac-results-col:first-child {
    display: none; }
  .ac-results-container.two-col:not(.two-col-books) .ac-results-col:nth-child(2) {
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
    margin-left: 0; }
  .ac-results-container.two-col-books .ac-results-col:first-child {
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2; }
  .ac-results-container.two-col-books .ac-results-col:nth-child(2) {
    display: none; }
  .ac-results-container:not(.two-col) .ac-results-prod-container:nth-child(4) ~ .ac-results-prod-container {
    display: none; }
  @media (max-height: 900px) {
    .ac-results-container:not(.two-col) .ac-results-prod-container:nth-child(3) ~ .ac-results-prod-container {
      display: none; } }
  .ac-results-container.empty {
    opacity: 0;
    visibility: hidden;
    pointer-events: none; }
  @media (max-height: 900px) {
    .ac-results-container .ac-results-prod-container:nth-child(6) ~ .ac-results-prod-container {
      display: none; } }

.ac-results-col {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  margin-left: 15px;
  margin-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .ac-results-col.empty {
    display: none; }
  .ac-results-col:first-child {
    margin-left: 0; }
  .ac-results-col:last-child {
    margin-right: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .ac-results-col .standard_title {
    float: none;
    line-height: 1.2;
    border-bottom: #ebebeb 1px solid;
    padding-bottom: 12px;
    margin-bottom: 16px; }

.ac-results-cta {
  border: 1px solid #000;
  font-size: 13px;
  font-family: "Gibson Regular", Helvetica, Arial, Verdana, sans-serif;
  letter-spacing: 0.125em;
  color: #000;
  text-transform: uppercase;
  padding: 10px 14px;
  margin-top: 25px;
  display: block;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .18s ease;
  transition: .18s ease; }
  .ac-results-cta:hover {
    background-color: #472a49;
    color: #fff;
    text-decoration: none; }
    .ac-results-cta:hover .ac-results-cta-num {
      color: rgba(255, 255, 255, 0.75); }
  .ac-results-cta-num {
    color: #828282;
    font-family: Gibson Light;
    -webkit-transition: .18s ease;
    transition: .18s ease; }

.search__go {
  -webkit-transition: .18s ease;
  transition: .18s ease; }
  .search__go:hover {
    background-color: #472a49;
    color: #fff; }

.ac-results-prod-container {
  padding: 10px;
  margin: -10px;
  -webkit-transition: .15s;
  transition: .15s; }
  .ac-results-prod-container:hover {
    background-color: #f7f7f7; }
  .ac-results-prod-container + .ac-results-prod-container {
    margin-top: 20px; }

.ac-results-prod-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .ac-results-prod-wrapper:hover {
    text-decoration: none; }

.ac-results-prod-info {
  margin-left: 15px; }
  .ac-results-prod-info em {
    background-color: #efebef;
    padding: 1px;
    margin: 0 -1px; }

.ac-results-prod-img {
  box-shadow: 3px 3px 18px rgba(0, 0, 0, 0.15); }
  .ac-results-prod-img-container {
    width: 72px;
    min-height: 72px;
    min-width: 72px;
    background-color: #ebebeb; }

.ac-results-prod-title {
  color: #333;
  font: 14px/17px "Gibson Bold", "Helvetica", "Arial", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.15em; }
  .ac-results-prod-title + .ac-results-prod-price {
    margin-top: 14px; }
  .ac-results-prod-title + .ac-results-prod-subtitle {
    margin-top: 6px; }

.ac-results-prod-author {
  font: 15px/22px 'Miller Display Italic', serif;
  margin-top: 2px;
  color: #333;
  letter-spacing: .05em;
  padding-bottom: 7px;
  text-transform: capitalize; }

.ac-results-prod-subtitle {
  font: 14px/19px "Gibson Light", "Helvetica", "Arial", sans-serif;
  letter-spacing: .02em;
  color: #757575;
  text-transform: none;
  margin-bottom: 13px; }

.ac-results-prod-price {
  color: #000;
  font: 12px/12px "Gibson Bold", "Helvetica", "Arial", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding-bottom: 10px; }
  .ac-results-prod-price:before {
    content: "";
    margin: 6px 0 18px 0;
    height: 1px;
    background-color: #ebebeb;
    width: 85px;
    display: block; }

.ac-results-data em {
  background-color: #efebef;
  padding: 1px;
  margin: 0 -1px; }

.ac-results-data a {
  font-family: 'Gibson Regular', 'Helvetica', 'Arial', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 21px;
  letter-spacing: .18em;
  color: #4f4f4f;
  cursor: pointer; }

.ac-results-data + .ac-results-data .standard_title {
  margin-top: 30px; }

.ac-results-data-item + .ac-results-data-item {
  margin-top: 8px; }

.ac-results-data-item-em {
  font-family: "Gibson Bold" !important; }

.ac-results-data-item-category + .ac-results-data-item-category:before {
  content: "";
  height: 3px;
  width: 10px;
  display: inline-block;
  background-color: #a29ea2;
  vertical-align: middle;
  margin: -1px 6px 0 6px; }

@media (max-height: 900px) {
  .ac-results-data-item:nth-child(5) ~ .ac-results-data-item {
    display: none; } }

.search__c4.instant-search {
  opacity: 0;
  visibility: hidden;
  pointer-events: none; }

.ais-header {
  line-height: 1.2;
  border-bottom: #ebebeb 1px solid;
  padding-bottom: 12px;
  margin-bottom: 16px;
  color: #000;
  font-size: 14px;
  font-weight: normal;
  font-family: "Gibson Regular", "Helvetica", "Arial", sans-serif;
  text-transform: uppercase;
  letter-spacing: .15em;
  margin-top: 30px; }
  #record-type-container .ais-header {
    margin-top: 0; }

.ais-search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.ais-search-sidebar {
  -ms-flex-preferred-size: 200px;
      flex-basis: 200px;
  margin-right: 20px;
  padding-right: 20px;
  min-width: 200px;
  border-right: 1px solid #ebebeb; }

.ais-search-main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }
  .ais-search-main-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 20px; }

.ais-root.ais-stats {
  font-family: 'Gibson Bold';
  color: #9e9e9e;
  text-transform: uppercase;
  letter-spacing: .125em; }
  .ais-root.ais-stats .ais-stats--time {
    display: none; }

.ais-hits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  margin-left: -20px;
  margin-right: -20px; }

.ais-hits--item {
  -ms-flex-preferred-size: calc(50% - 20px);
      flex-basis: calc(50% - 20px);
  margin: 0 10px; }

.ais-hit-item-img[src=''] {
  display: none; }

.ais-hit-item-container {
  padding: 10px;
  margin-bottom: 20px;
  -webkit-transition: .15s;
  transition: .15s; }
  .ais-hit-item-container:hover {
    background-color: #f7f7f7; }
  .ais-hit-item-container + .ais-hit-item-container {
    margin-top: 20px; }
  .ais-hit-item-container a:hover {
    text-decoration: none; }

.ais-hit-item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .ais-hit-item-wrapper:hover {
    text-decoration: none; }

.ais-hit-item-info {
  margin-left: 15px; }
  .ais-hit-item-info em {
    background-color: #efebef;
    padding: 1px;
    margin: 0 -1px; }

.ais-hit-item-img {
  box-shadow: 3px 3px 18px rgba(0, 0, 0, 0.15);
  width: 100%; }
  .ais-hit-item-img-container {
    min-height: 90px;
    min-width: 90px;
    background-color: #ebebeb; }

.ais-hit-item-title {
  color: #333;
  font: 14px/17px "Gibson Bold", "Helvetica", "Arial", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  word-wrap: break-word; }
  .ais-hit-item-title + .ac-results-prod-price {
    margin-top: 14px; }
  .ais-hit-item-title + .ac-results-prod-subtitle {
    margin-top: 6px; }

.ais-hit-item-author {
  font: 15px/22px 'Miller Display Italic', serif;
  margin-top: 2px;
  color: #333;
  letter-spacing: .05em;
  padding-bottom: 7px;
  text-transform: capitalize;
  word-wrap: break-word; }

.ais-hit-item-subtitle {
  font: 14px/19px "Gibson Light", "Helvetica", "Arial", sans-serif;
  letter-spacing: .02em;
  color: #757575;
  text-transform: none;
  margin-bottom: 13px; }

.ais-hit-item-price {
  color: #000;
  font: 12px/12px "Gibson Bold", "Helvetica", "Arial", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding-bottom: 10px; }
  .ais-hit-item-price .og {
    font-family: 'Gibson Light Italic';
    text-decoration: line-through;
    color: #808080;
    margin-left: 10px; }
    .ais-hit-item-price .og:before {
      content: "$"; }
  .ais-hit-item-price:before {
    content: "";
    margin: 6px 0 18px 0;
    height: 1px;
    background-color: #ebebeb;
    width: 85px;
    display: block; }

.ais-pagination {
  text-align: center; }

.ais-pagination--item:not(.ais-pagination--item__next) {
  display: none; }

.ais-pagination--item__next {
  border: 1px solid #000;
  padding: 10px 14px;
  margin-top: 25px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .18s ease;
  transition: .18s ease;
  min-width: 100px;
  margin-bottom: 60px; }
  .ais-pagination--item__next a {
    font-size: 13px;
    font-family: "Gibson Regular", Helvetica, Arial, Verdana, sans-serif;
    letter-spacing: 0.125em;
    color: #000;
    text-transform: uppercase;
    -webkit-transition: .18s ease;
    transition: .18s ease; }
  .ais-pagination--item__next:hover {
    background-color: #472a49;
    color: #fff !important;
    text-decoration: none; }
    .ais-pagination--item__next:hover a {
      color: #fff !important;
      text-decoration: none; }

.ais-refinement-list--label,
.ais-menu--link {
  font-family: 'Gibson Regular';
  text-transform: uppercase;
  color: #000;
  letter-spacing: .1em;
  margin-bottom: 10px;
  display: inline-block;
  cursor: pointer; }
  .ais-refinement-list--label:hover,
  .ais-menu--link:hover {
    text-decoration: underline; }
  .ais-refinement-list--label input,
  .ais-menu--link input {
    margin-right: 7px; }
  .ais-refinement-list--label .ais-refinement-list--count,
  .ais-refinement-list--label .ais-menu--count,
  .ais-menu--link .ais-refinement-list--count,
  .ais-menu--link .ais-menu--count {
    margin-left: 2px;
    color: #828282;
    font-family: Gibson Light; }
    .ais-refinement-list--label .ais-refinement-list--count:before,
    .ais-refinement-list--label .ais-menu--count:before,
    .ais-menu--link .ais-refinement-list--count:before,
    .ais-menu--link .ais-menu--count:before {
      content: "("; }
    .ais-refinement-list--label .ais-refinement-list--count:after,
    .ais-refinement-list--label .ais-menu--count:after,
    .ais-menu--link .ais-refinement-list--count:after,
    .ais-menu--link .ais-menu--count:after {
      content: ")"; }
  .ais-refinement-list--label .ais-menu--link:hover,
  .ais-menu--link .ais-menu--link:hover {
    color: #000; }

.ais-menu--item__active .ais-menu--link {
  text-decoration: underline;
  color: #7d337a; }

/*# sourceMappingURL=main.css.map */
