// ------------- AUTOCOMPLETE INPUT - OVERRIDES ------------- //

.search__t {
    overflow: visible!important;
    margin-left: -12px!important;
}

.search__go {
        display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


// ------------- AUTOCOMPLETE INPUT - DROPDOWN ------------- //

.ac-input-dropdown {
    opacity: 0;
    visibility: hidden;
    &.open {
        opacity: 1;
        visibility: visible;
        transition: .15s;
    }
} 

